<?xml version="1.0" encoding="UTF-8"?>

<!-- scan属性为true，可动态加载。 -->
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <!--属性配置引入 -->
    <property resource="properties/logback.properties"/>
    <!-- 控制台只打error appender配置 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- 控制台开发测试使用 appender配置 -->
    <appender name="stdoutForDev" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--服务跟踪日志的appender配置 -->
    <appender name="traceAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${LOG_HOME}/${TRACE_LOG_FILE}</fileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>${LOG_SAVE_DAYS_31}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>






    <!--sql日志的appender配置 -->
    <appender name="sqlAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${LOG_HOME}/${SQL_LOG_FILE}</fileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>${LOG_SAVE_DAYS_7}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%msg%n
            </pattern>
        </encoder>
    </appender>


    <!--非kxd代码非error日志的appender配置 -->
    <appender name="otherAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${OTHERS_LOG_FILE}</fileNamePattern>
            <MaxHistory>${LOG_SAVE_DAYS_1}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="otherErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${OTHERS_ERROR_LOG_FILE}</fileNamePattern>
            <MaxHistory>${LOG_SAVE_DAYS_1}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="appAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${LOG_HOME}/${APP_FILE}</fileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>${SYS_LOG_SAVE_DAYS}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="appErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${LOG_HOME}/${APP_ERROR_FILE}</fileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>${SYS_LOG_SAVE_DAYS}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%method|%msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>



    <logger name="com.mm" level="ALL" additivity="false">
        <appender-ref ref="traceAppender"/>
    </logger>


    <logger name="dao" level="DEBUG" additivity="false">
        <appender-ref ref="sqlAppender"/>
        <!--         <appender-ref ref="stdout"/> -->
    </logger>



    <logger name="com.mm" level="INFO" additivity="false">
        <appender-ref ref="appAppender"/>
        <appender-ref ref="appErrorAppender"/>
        <appender-ref ref="stdout"/>
    </logger>


    <root>
        <level value="info"/>
        <appender-ref ref="otherAppender"/>
        <appender-ref ref="otherErrorAppender"/>
        <!--
       <appender-ref ref="stdout"/>
        -->
    </root>

</configuration>
